body {
  margin: auto;
  font-family: Arial,sans-serif;
  font-size: 18px;
  color: #fff;
  height: 100%;
  background-color: $color-main;
}

.container {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

 .switcher__btn {
  padding: 20px;
  background-color: $color-main;
  color: #fff;
  border: 5px solid darken($color-main, 2%);
  border-radius: 40px;
  transition: box-shadow .2s linear;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 3px darken($color-main, 2%);
  }
}

.modal {
  position: absolute;
  top: 45%;
  left: 50%;
  max-width: 500px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  padding: 20px;

  transform: translate(-50%,-65%);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  animation: closed 1s ease 1;

    &:target {
      opacity: 1;
      pointer-events: auto;
      animation: opened 1s ease 1;
    }
}

@keyframes opened {
  0% {
    transform: translate(-50%, -30%) scale(0.3);
  }

  100% {
    transform: translate(-50%, -65%) scale(1);
  }

}

@keyframes closed {
  0% {
    transform: translate(-50%, -65% ) scale(1);
  }

  100% {
    transform: translate(-50%, -35%) scale(0);
  }

}

.modal__btn_close {
  position: absolute;
  top: -30px;
  right: -30px;
  font-size: 28px;
  color: #fff;

  &:hover {
    animation: rotate .8s linear infinite;
  }
}

@keyframes rotate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.modal__bottom-text {
  padding-top: 20px;
  text-align: center;
}
